[submodule "thirdparty/DeepEP"]
	path = thirdparty/DeepEP
	url = https://github.com/deepseek-ai/DeepEP.git
[submodule "thirdparty/TileKernels"]
	path = thirdparty/TileKernels
	url = https://github.com/deepseek-ai/TileKernels.git
